
		h1, p {
		 position:static;
		 
		  display: inline;
		  
		}
	
		.popover.fade.right.in {
			position : absolute;
			top: 49px;
    		left: 468.500px;
    		display: block;
		}
    		  .affix {
      top: 0;
      width: 100%;
     
  }

  .affix + .container-fluid {
      padding-top: 70px;
 
}

			
		